<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCF9aoKOVaeEslFIeCTlc_ayejVEo0H_WE</string>
	<key>GCM_SENDER_ID</key>
	<string>747783678458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elbooklets.app</string>
	<key>PROJECT_ID</key>
	<string>el-booklets</string>
	<key>STORAGE_BUCKET</key>
	<string>el-booklets.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747783678458:ios:1121a7392cc6eaf0e39c43</string>
</dict>
</plist>